
.heading-year {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
}

.weekday-labels {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.month-toggler {
  width: 60px;
  float: right;
}

.month-toggler-buttons {
  float: right;
}

button {
  border: none;
  outline: none;
  font-size: 20px;
}

button:hover {
  color: crimson;
}


