.calendar-container {
  margin: 100px auto;
  background-color: white;
  box-shadow: 6px 10px 27px 6px rgba(171, 171, 171, 0.69);
  width: 325px;
  height: 375px;
  font-size: 20px;
  font-family: 'Abril Fatface';
}

.calender-grid {
  background-color: white;
  margin: 20px auto;
  border-collapse: collapse;
}

.calendar-day {
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.calendar-day.selected {
  background-color: crimson;
  color: white;
}

.calendar-day.disabled {
  cursor: default;
}

.calendar-day.selected:hover {
  background-color: crimson;
  color: white;
}

.calendar-day.disabled:hover {
  background-color: white;
}

.calendar-day:hover {
  /*background-color: #e2e2e2;*/
  background-color: rgba(220, 20, 60, 0.19);
}

.calendar-week {
  border: 1px solid lightgrey;
}

.calendar-contents {
  margin: 20px auto;
}

table {
  margin: 0 auto;
}

tr {
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 20px;
}

.heading-month {
  font-size: 50px;
  width: 225px;
  padding-top: 25px;
  margin: 10px auto;
  font-weight: 900;
}

.heading-year {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
}

.weekday-labels {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.month-toggler {
  width: 60px;
  float: right;
}

.month-toggler-buttons {
  float: right;
}

button {
  border: none;
  outline: none;
  font-size: 20px;
}

